<!DOCTYPE html>
html(lang="bg")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="/static/css/reset.css")
        link(rel="stylesheet" href="/static/css/style.css")
        link(rel="stylesheet" href="/libs/jscrollpane/style/jquery.jscrollpane.css" media="all")
        script(src="/libs/jquery/dist/jquery.min.js")
        script(src="/libs/jscrollpane/script/jquery.jscrollpane.min.js")
        script(src="/static/javascript/jscrollpane.loader.js")
        title Victor Vladev's Photography
    body
        block body
        script(src="/libs/particles.js/particles.js")
        script(src="/static/javascript/particles.loader.js")
        script(src="/static/javascript/slider.js")
        script(src="/static/javascript/img-loader.js")
        script(src="/static/javascript/progress-bar.js")
    