include _search

mixin navigation(currentPage)
    nav(id="navigation")
        h1 So Much (For) Beauty
        ul
            li
                if currentPage == 'home' 
                    a(class="current-page" href="/") Home
                else
                    a(href="/") Home
            li
                if currentPage == 'about'
                    a(class="current-page" href="/about") About Me
                else
                    a(href="/about") About Me
            li
                if currentPage == 'portfolio'
                    a(class="current-page" href="/portfolio") Portfolio
                else
                    a(href="/portfolio") Portfolio
            li
                if currentPage == 'blog'
                    a(class="current-page" href="/blog") Blog
                else
                    a(href="/blog") Blog
            li
                if currentPage == 'contact'
                    a(class="current-page" href="/contact") Contact
                else
                    a(href="/contact") Contact
            +search