extends shared/_master
include shared/_navigation

block body
    main(id="particles-js")
        +navigation('about')
        div(id="content-container")
            h2 About Me
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim repellendus numquam delectus nemo rem iste totam libero repudiandae. Amet similique modi tempore cupiditate unde optio magni id explicabo ab ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, possimus doloribus ratione repellendus unde, incidunt quod eos! Harum animi eaque odit et ut odio ex dolorum ducimus, nobis consectetur numquam.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae enim consequuntur dolorum ipsam ut perferendis fugit, nisi culpa, minus rerum excepturi sint ipsa illo corrupti nihil sunt nemo non distinctio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque explicabo inventore quis suscipit pariatur illo vero maxime, culpa vitae magni adipisci amet, ad minus laborum aspernatur, iure, ipsa minima voluptatem!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae enim consequuntur dolorum ipsam ut perferendis fugit, nisi culpa, minus rerum excepturi sint ipsa illo corrupti nihil sunt nemo non distinctio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque explicabo inventore quis suscipit pariatur illo vero maxime, culpa vitae magni adipisci amet, ad minus laborum aspernatur, iure, ipsa minima voluptatem!