extends shared/_master
include shared/_navigation

block body
    main(id="particles-js")
        +navigation('blog')
        div(id="blog-container")
            h2 Blog
            each post in posts
                div(class="blog-article")
                    h3
                        a(class="article-title" href="/blog/" + post._id)
                            = post.title
                    p(class="article-text")
                        = post.content[0]
                    p(class="article-meta")
                        | Written on
                        a(class="article-link" href="/") 
                            = post.date
                        | &nbsp;/ By 
                        a(class="article-link" href="/")
                            = post.author
                        | &nbsp;/ Posted in 
                        a(class="article-link" href="/")
                            = post.category
