extends shared/_master
include shared/_navigation
include shared/_slider
include shared/_thumbnail-container

block body
    main(id="particles-js")
        +navigation('home')
        +slider(images)
        +thumbnail-container